@page "/Zone"
@rendermode InteractiveWebAssemblyNoPreRender

@inject HttpClient Http
@inject NavigationManager navManager
@inject IJSRuntime JS

@inject AuthenticationStateProvider authenticationStateProvider
@using myWebApp.Client.Authentication

<PageTitle>Lista Zone</PageTitle>

@if (Array_Zone is null)
{
    <div class="row">

    <div class="col-sm">
        <div class="spin-row">
            <SfSpinner Size="40" Label="Lettura dati in corso... Attendere" Type="SpinnerType.Bootstrap5"
                Visible="true"></SfSpinner>
        </div>
    </div>

</div>
}
else
{
    <div class="container-fluid">

    <div class="row">

        <div class="col-2">
            <SfButton title="Home" IconCss="fa fa-arrow-left" CssClass="e-small e-round mb-2" IsPrimary="true"
                @onclick="onReservedClick"></SfButton>
        </div>
        <div class="col-10 d-flex justify-content-center ">
            <h1> Lista Zone (@DataBaseId)</h1>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
            <SfButton title="Aggiungi" IconCss="fa fa-add" CssClass="e-small e-round mb-2" IsPrimary="true"
                @onclick="onAddClick"></SfButton>
        </div>

        <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
            <SfButton title="Modifica" IconCss="fa fa-edit" CssClass="e-small e-round mb-2" IsPrimary="true"
                @onclick="onEditClick"></SfButton>
        </div>

        <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
            <SfButton title="Rimuovi" IconCss="fa fa-trash" CssClass="e-small e-round mb-2" IsPrimary="true"
                @onclick="onRemoveClick"></SfButton>
        </div>


    </div>

    <SfGrid @ref="Grid" DataSource="@Array_Zone" AllowSorting="true" AllowFiltering="true" AllowPaging="true">
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
        <GridPageSettings PageSize="12" PageSizes="true"></GridPageSettings>
        <GridSelectionSettings CheckboxOnly="true" PersistSelection="true"
            Type="Syncfusion.Blazor.Grids.SelectionType.Multiple">
        </GridSelectionSettings>
        <GridEvents OnRecordDoubleClick="RecordDoubleClickHandler" TValue="Zona"></GridEvents>
        <GridColumns>
            <GridColumn Type="ColumnType.CheckBox" AllowFiltering="false" AllowSorting="false" Width="50">
            </GridColumn>
            <GridColumn Field=@nameof(Zona.Descrizione) HeaderText="Ragione Sociale" TextAlign="TextAlign.Left"
                Width="100%"></GridColumn>


        </GridColumns>

    </SfGrid>
</div>


}

<SfDialog Width="30%" Height="20%" IsModal="true" @bind-Visible="RemoveDialogVisibility">
    <DialogTemplates>
        <Header> Attenzione </Header>
        <Content>
            <p>Confermi la rimozione delle Zone selezionate?</p>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="No" IsPrimary="true" OnClick="@RemoveDlgNoButtonClick" />
        <DialogButton Content="Si" IsPrimary="false" OnClick="@RemoveDlgSiButtonClick" />

    </DialogButtons>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
</SfDialog>

<SfDialog Width="30%" Height="20%" IsModal="true" @bind-Visible="ErrorDialogVisibility">
    <DialogTemplates>
        <Header> Attenzione </Header>
        <Content>
            <div>@strMsgError</div>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="OK" IsPrimary="true" OnClick="@ErrorDlgOKButtonClick" />
    </DialogButtons>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
</SfDialog>

@code {

    SfGrid<Zona>? Grid;
    public List<Zona>? SelectedRows { get; set; }
    public bool RemoveDialogVisibility = false;
    public bool ErrorDialogVisibility = false;

    static InteractiveWebAssemblyRenderMode InteractiveWebAssemblyNoPreRender = new(false);

    public string DataBaseId { get; set; } = string.Empty;

    public List<Zona>? Array_Zone { get; set; }

    string strMsgError = ""; //Messaggio di errore da presentare all'utente


    protected override async Task OnInitializedAsync()
    {



        bool IsTokenOk = await SetHttpTokenAndDb();
        if (!IsTokenOk)
        {
            return;
        }

        try
        {
            Array_Zone = await Http.GetFromJsonAsync<List<Zona>>("api/Zone") ?? new List<Zona>();
        }
        catch (Exception ex)
        {
            //Eccezione in lettura ... ad esempio per Ruolo utente non abilitato alla lettura 403 Forbidden
            Array_Zone = new List<Zona>();
        }

        await InvokeAsync(StateHasChanged);


    }

    async Task<bool> SetHttpTokenAndDb()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
        var token = await customAuthStateProvider.GetToken();
        DataBaseId = await customAuthStateProvider.GetDataBaseId();
        if (!string.IsNullOrWhiteSpace(token))
        {

            Http.DefaultRequestHeaders.Clear();

            Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("bearer", token);
            Http.DefaultRequestHeaders.Add("dbName", DataBaseId);

        }
        else
        {
            navManager.NavigateTo("/login/Zone");
            return false;
        }

        return true;

    }


    private void onReservedClick(MouseEventArgs args) {
        //Redirect to Reserved
        navManager.NavigateTo("Reserved");
    }

    private void onAddClick(MouseEventArgs args)
    {
        //Redirect
        navManager.NavigateTo("AddEditZona/NEW|XXX");

    }


    private async void onEditClick(MouseEventArgs args)
    {
        SelectedRows = await Grid.GetSelectedRecordsAsync();

        if (SelectedRows.Count > 0)
        {
            //Edit to First Selected Item
            Zona RkSelected = SelectedRows[0];
            navManager.NavigateTo("AddEditZona/EDIT|" + RkSelected.IDZona);
        }
    }


    public void RecordDoubleClickHandler(RecordDoubleClickEventArgs<Zona> args)
    {
        navManager.NavigateTo("AddEditZona/EDIT|" + args.RowData.IDZona);
    }

    private async void onRemoveClick(MouseEventArgs args)
    {

        SelectedRows = await Grid.GetSelectedRecordsAsync();
        if (SelectedRows.Count > 0)
        {
            //Start confirm Delete Dialog
            RemoveDialogVisibility = true;
        }
    }



    private async void RemoveDlgNoButtonClick()
    {

        //hide Dialog after remove selection
        await Grid.ClearSelectionAsync();
        RemoveDialogVisibility = false;
    }


    private async void ErrorDlgOKButtonClick()
    {

        //hide Error Dialog
        ErrorDialogVisibility = false;
    }


    private async void RemoveDlgSiButtonClick(MouseEventArgs args)
    {

        RemoveDialogVisibility = false;

        strMsgError = "";

        if (SelectedRows is not null && SelectedRows.Count > 0)
        {
            foreach (Zona rk in SelectedRows)
            {

                try
                {

                    Zona deleted = await Http.DeleteFromJsonAsync<Zona>("api/Zone/" + rk.IDZona);
                    if (deleted.IDZona != rk.IDZona)
                    {
                        //Error in Delete RK
                        strMsgError += "Errore rimozione Zona: " + rk.Descrizione;
                    }
                }
                catch (Exception ex)
                {
                    if (strMsgError == "")
                    {
                        strMsgError += "Errore rimozione Zona: " + rk.Descrizione;
                    }
                    else
                    {
                        strMsgError += " - " + rk.Descrizione;
                    }

                }
            }

            if (strMsgError != "")
            {
                //Errori in rimozione Zone... tipicamemnte violazione di foreign key
                ErrorDialogVisibility = true;
            }
            else
            {
                //Refresh grid
                Array_Zone = await Http.GetFromJsonAsync<List<Zona>>("api/Zone") ?? new List<Zona>();
            }
        }

        StateHasChanged();


    }





}
